nav {
  display: flex;
  justify-content: space-between;
  .theme-mode-toggle {
    display: flex;
    align-items: center;
    gap: 3px;
  }
}

@media screen and (max-width: 645px) {
  nav .title h4{
    font-size: clamp(15px, 4vw, 20px);
  }
}